/* violeta inglesa: 413c58*/
/* gris ceiniza: a3c4bc */
/* te verde: bfd7b5 */
/* crema: e7efc5 */


/* pompa y poder: 8d5a97 */
/* montable rosa: 907f9f */
/* gris frances: a4a5ae */
/* gris ceniza: b0c7bd */
/* celadon: b8ebd0 */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,800&display=swap');

body{
    background-image: url(../img/peliculas.jpg)
}
header{
    
    background-color: rgb(175, 141, 207);
    border: solid #8d5a97 20px;
    font: 30px 'Pangolin', sans-serif ; 
    margin: 30px 200px 30px 200px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}
form{
    font-family: 'Open', sans-serif;       
}
h1{
    color: #413c58 ;   
    border: solid #413c58 3px;
    background-image: url(../img/peliculas2.jpg);
    background-repeat: no-repeat;
    background-position: right;
    
    
  
}
fieldset{
    background-image: url(../img/film.jpg);
    background-size: contain;
    color:   #8d5a97;
    font: bold 30px 'Pangolin', sans-serif;
    border: solid #bfd7b5 10px;
    margin: 30px 200px 30px 200px;
    padding-top: 0;
    padding-bottom: 20px;
    text-align: center;   

}
legend{
    font: bold 30px 'Pangolin', sans-serif;    
    text-align: left;
    color:  #8d5a97;
    background-color:  #bfd7b5;    
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;    
}
textarea{
    display: block;    
    margin-left: 350px;
    width: 200px;
    height: 100px; 
    border-radius: 4px;  
}
button{
    background-color: #a3c4bc ;
    color: black;
    border-radius: 4px;
    border: none;
    margin: 40px;
    padding: 20px;
    box-sizing: border-box;
    align-self: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;    
}
.centro{
    display: flex;    
    justify-content: center;     
}
#last-checks{
    background-image: url(../img/peliculas2.jpg);
    color:  #bfd7b5;
    font-size: 30px ;
    text-align: center;
}